@font-face {
	font-family: 'paintball';
	font-style: normal;
	src: url('font/paintball.eot');
	src: local('paintball'), url('assets/font/paintball.eot') format('embedded-opentype'), url('assets/font/paintball.woff') format('woff');
}
            
.paintball{font-family: 'paintball' !important;}
            
body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
	font-family: 'paintball' !important;
}
		
/* Style the header */

body{
  margin: 0
}

.summery{
  margin-top: 75px;
}

/* Style the top navigation bar */
nav {
  overflow: hidden;
  background-color: #2e5a2e;
  position: fixed;
  top: 41px;
  width: 2686px;
}

/* Style the topnav links */
nav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

nav a.current{
  background-color: rgb(68, 68, 68);
  padding: 14px 16px;
  color: #f2f2f2;
}

nav a:link {
  color: #f2f2f2;
  text-decoration: none;
}

nav a:visited {
  color: #f2f2f2;
}

nav a{
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #2e5a2e;
}

h1{ 
  background-color: green;
  border-style: solid;
  border-color: green;
  margin-block-start: 0;
  margin-block-end: 0;
  position: fixed;
  width: 2686px;
  top: 0px;
}