@font-face {
	font-family: 'paintball';
	font-style: normal;
	src: url('/assets/font/Splatfont2.eot');
	src: local('paintball'), url('/assets/font/Splatfont2.eot') format('embedded-opentype'), url('/assets/font/Splatfont2.woff') format('woff');
}
            
.paintball{font-family: 'paintball' !important;}
            
body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
	font-family: 'paintball' !important;
}
		
